1. 넘파이를 사용하여 다음과 같은 행렬을 만드시오.
10 20 30 40
50 60 70 80

In [96]:
import numpy as np
a= np.arange(10,81,10).reshape(2,4)
a

array([[10, 20, 30, 40],
       [50, 60, 70, 80]])

2.다음    행렬과    같은   행렬이    있다.
m = np.array([[ 0,  1,  2,  3,  4],
[ 5,  6,  7,  8,  9], [10, 11, 12, 13, 14]])
1) 이    행렬에서    값    7 을    인덱싱한다.
2) 이    행렬에서    값    14 을    인덱싱한다.
3) 이    행렬에서    배열   [6, 7] 을    슬라이싱한다.
4) 이    행렬에서    배열   [7, 12] 을    슬라이싱한다.
5) 이    행렬에서    배열   [[3, 4], [8, 9]] 을    슬라이싱한다.

In [97]:
#2-1)
m = np.array([[ 0,  1,  2,  3,  4],
[ 5,  6,  7,  8,  9], [10, 11, 12, 13, 14]])
m[1,2]

7

In [98]:
#2-2)
m[2,4]

14

In [99]:
#2-3)
m[1,1:3]

array([6, 7])

In [100]:
#2-4)
m[1:,2]

array([ 7, 12])

In [101]:
#2-5)
m[:2,3:]

array([[3, 4],
       [8, 9]])

3.  2번의    행렬    m을    1차원    벡터    f 로    변환한    후    다음의    문제를    푸시오.
1) 이    배열에서    3의    배수를    찾아라.
2) 이    배열에서    4로    나누면    1이    남는    수를    찾아라.
3) 이    배열에서    3으로   나누면    나누어지고    4로    나누면    1이    남는    수를    찾아라

In [102]:
m = np.array([[ 0,  1,  2,  3,  4],
[ 5,  6,  7,  8,  9], [10, 11, 12, 13, 14]])

f= m.flatten()
#3-1)
f[3::3]

array([ 3,  6,  9, 12])

In [103]:
#3-2)
f[5::4]

array([ 5,  9, 13])

In [104]:
#3-3)
f[-2]

13

4. 값을    직접    입력하지    말고 우측의    행렬을    만드시오.

In [105]:
a =np.eye(N=5, M=5, k=1,dtype=np.int16)
b =np.eye(N=5, M=5, k=-1,dtype=np.int16)
c=np.eye(N=5, M=5, k=0,dtype=np.int16)
a+3*b+2*c

array([[2, 1, 0, 0, 0],
       [3, 2, 1, 0, 0],
       [0, 3, 2, 1, 0],
       [0, 0, 3, 2, 1],
       [0, 0, 0, 3, 2]], dtype=int16)

5. 0에서    10까지    랜덤   실수값으로    이루어진    5 x 6 형태의    데이터    행렬을    만들고    이    데이터에 대해    다음과    같은   값을    구하시오.
1) 전체의    최댓값
2) 각    행의    합
3) 각    행의    최댓값
4) 각    열의    평균
5) 각    열의    최솟값

In [106]:
a = np.random.uniform(0,10,30).reshape(5,6)
a

array([[8.08894869, 7.44827803, 1.51470425, 8.79774053, 9.54295712,
        2.44597428],
       [7.9314458 , 4.20118825, 3.7371429 , 1.77041585, 6.50476411,
        7.41552007],
       [0.27210674, 7.90293116, 1.3875216 , 6.47264952, 0.53536697,
        1.00251535],
       [6.87725396, 6.07782146, 7.46642189, 1.60178026, 3.05540263,
        8.10871701],
       [5.12509929, 3.76998315, 1.01124077, 1.98604498, 1.51562185,
        2.07949996]])

In [107]:
#5-1)
a.max()

9.542957115219908

In [108]:
#5-2)
a.sum(axis=1)

array([37.8386029 , 31.56047698, 17.57309134, 33.18739722, 15.48749   ])

In [109]:
#5-3)
a.argmax(axis=1)

array([4, 0, 1, 5, 0], dtype=int64)

In [110]:
#5-4)
a.sum(axis=0) / len(a)

array([5.6589709 , 5.88004041, 3.02340628, 4.12572623, 4.23082253,
       4.21044533])

In [111]:
#5-5)
a.argmin(axis=0)

array([2, 4, 4, 3, 2, 2], dtype=int64)

 6.다음    배열은    첫번째    행(row)에    학번, 두번째    행에   영어    성적, 세번째    행에    수학   성적을    적은 배열이다. 영어    성적을    기준으로    각    열(column)을    재정렬하시오.
array([[  1,    2,    3,    4], [ 46,   99,  100,   71], [ 81,   59,   90,  100]])

In [160]:
a=np.array([[1,2,3,4], [46,99,100,71], [81,59,90,100]])
b= a[:,a[1].argsort(axis=0)]
b

array([[  1,   4,   2,   3],
       [ 46,  71,  99, 100],
       [ 81, 100,  59,  90]])

7. 주사위를    100번    던지는    가상    실험을    파이썬으로    작성하고, 던져서    나오는    숫자의    평균을    구하시오.

In [112]:
sum_1=0
for i in range(1,102):
    a = np.random.randint(0,7)
    sum_1+=a
    print(sum_1/i)

6.0
3.5
4.0
4.5
4.6
4.5
4.0
3.75
3.7777777777777777
3.8
3.8181818181818183
3.5833333333333335
3.3846153846153846
3.5714285714285716
3.6
3.625
3.764705882352941
3.7777777777777777
3.6842105263157894
3.55
3.5238095238095237
3.5
3.391304347826087
3.2916666666666665
3.2
3.076923076923077
3.111111111111111
3.107142857142857
3.0
2.966666666666667
2.870967741935484
2.84375
2.8181818181818183
2.8823529411764706
2.8857142857142857
2.8055555555555554
2.864864864864865
2.8157894736842106
2.7948717948717947
2.8
2.7560975609756095
2.7142857142857144
2.6744186046511627
2.6136363636363638
2.6222222222222222
2.6739130434782608
2.6808510638297873
2.75
2.7346938775510203
2.7
2.7058823529411766
2.730769230769231
2.6792452830188678
2.740740740740741
2.8
2.8214285714285716
2.807017543859649
2.8448275862068964
2.847457627118644
2.8333333333333335
2.80327868852459
2.806451612903226
2.857142857142857
2.84375
2.876923076923077
2.8333333333333335
2.8805970149253732
2.8529411764705883
2.8260869565217392
2.842857142857143
2.887323943661972
2.875
2.9178082191780823
2.918918918918919
2.92
2.8947368421052633
2.883116883116883
2.871794871794872
2.8354430379746836
2.8
2.814814814814815
2.7804878048780486
2.7710843373493974
2.7857142857142856
2.8
2.8255813953488373
2.8045977011494254
2.840909090909091
2.8764044943820224
2.8555555555555556
2.8351648351648353
2.869565217391304
2.89247311827957
2.904255319148936
2.9157894736842107
2.90625
2.88659793814433
2.877551020408163
2.8686868686868685
2.88
2.891089108910891