In [8]:
from urllib.parse import quote
from bs4 import BeautifulSoup

In [2]:
import requests
import pandas as pd

In [101]:
url = 'http://book.interpark.com/display/collectlist.do?_method=BestsellerHourNew201605&bestTp=1&dispNo=028#'
req = requests.get(url)
html = req.text

In [102]:
header = {'user-agent':
            "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.122 Safari/537.36"            
}
req = requests.get(url, headers=header)
html=req.text

In [103]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(html, 'html.parser')

In [118]:
lis=soup.select('.rankBestContentList>ol>li')  #부등호 방향으로 자식 seletor 표현
len(lis)

15

In [123]:

item = lis[0].select_one('.itemName').get_text()
item

'트렌드 코리아 2022 '

In [125]:
author = lis[0].select_one('span.author').get_text()
author

'김난도(金蘭都), 전미영, 최지혜, 이향은, 이준영'

In [126]:
company = lis[0].select_one('span.company').get_text()
company

'미래의창'

In [152]:
price = int(lis[0].select_one('span.price').get_text().split('\n')[1].replace(',',''))
price

16200

In [153]:
item_list, author_list, company_list, price_list = [],[],[],[]
for li in lis:
    item = li.select_one('.itemName').get_text()
    author = li.select_one('span.author').get_text()
    company = li.select_one('span.company').get_text()
    price=int(li.select_one('span.price').get_text().split('\n')[1].replace(',',''))

    item_list.append(item)
    author_list.append(author)
    company_list.append(company)
    price_list.append(price)

In [154]:
df = pd.DataFrame({
    '제목':item_list, '저자':author_list, '출판사':company_list, '가격':price_list
})

df

,제목,저자,출판사,가격
0,트렌드 코리아 2022,"김난도(金蘭都), 전미영, 최지혜, 이향은, 이준영",미래의창,16200
1,2022 현직교사들이 들려주는 면접레시피,"류은진, 양왕경, 이광한, 이지혜, 양왕경, 이광한, 이지혜",미래가치,42300
2,거인의 포트폴리오,강환국,페이지2북스,16200
3,거꾸로 읽는 세계사,유시민(柳時敏),돌베개,15750
4,아직 오지 않은 날들을 위하여,파스칼 브뤼크네르/이세진 역,인플루엔셜,14400
5,작은 별이지만 빛나고 있어(10만 부 기념 한정판 에디션),소윤,북로망스,13500
6,투자는 디테일에 있다,김정환,부케이,16200
7,웰씽킹(Wealthinking),켈리 최,다산북스,14400
8,오십에 읽는 논어,최종엽,유노북스,14400
9,소크라테스 익스프레스(20만 부 기념 윈터 에디션),에릭 와이너/김하현 역,어크로스,16200
10,달러구트 꿈 백화점. 2,이미예,팩토리나인,12420
11,불편한 편의점(15만부 기념 윈터 에디션),김호연,나무옆의자,12600
12,달러구트 꿈 백화점,이미예,팩토리나인,12420
13,흔한남매. 9,"흔한남매, 백난도/유난희 그림",미래엔아이세움,12150
14,NFT 레볼루션,"성소라, 롤프 회퍼, 스콧 맥러플린",더퀘스트,16200

In [158]:
li_1=lis[1]
href = li_1.find('a')['href']
href

'/product/BookDisplay.do?_method=detail&sc.shopNo=0000400000&sc.prdNo=354278287&sc.saNo=003003001&bid1=Best_zone&bid2=LiveRanking&bid3=PRD&bid4=001'

In [160]:
url='http://book.interpark.com'

In [161]:
sub_url = url + href
sub_url

'http://book.interpark.com/product/BookDisplay.do?_method=detail&sc.shopNo=0000400000&sc.prdNo=354278287&sc.saNo=003003001&bid1=Best_zone&bid2=LiveRanking&bid3=PRD&bid4=001'

In [162]:
sub_req = requests.get(sub_url)
sub_html = sub_req.text
sub_soup = BeautifulSoup(sub_html, 'html.parser')

In [185]:
#publish_date = sub_soup.select_one('ul.bInfo_txt')[-3].get_text()
publish_date = sub_soup.select('ul.bInfo_txt>li')[-3]
publish_date

In [179]:
pages = sub_soup.select('ul.bInfo_txt>li')[-2]
pages