# Pandas

In [3]:
import numpy as np ##Pandas = Numpy + 첫째열 인덱스 값
import pandas as pd

In [4]:
s = pd.Series([9904312, 3448737, 2890451, 2466052],
index=["서울", "부산", "인천", "대구"])
s

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

In [22]:
#판다스는 넘파이 이므로 슬라이싱과, 특정한 값 도시 가능!!!!!!
s[0], s['서울'], s[1:2], s[[1,3]]  #판다스는 인덱스 값으로 값을 호출할 수 있다

(9904312,
 9904312,
 부산    3448737
 dtype: int64,
 부산    3448737
 대구    2466052
 dtype: int64)

In [8]:
s2 = pd.Series({"서울":9631482,"부산":3393191,"인천":2632035,"대전":1490158},
index=["부산", "서울", "인천", "대전"])

In [11]:
dice = pd.Series(np.random.randint(1,7,5)) #인덱스 값 가지므로 숫자가 몇번쓰였는지 바로 알 수 있다
dice

0    2
1    6
2    2
3    4
4    3
dtype: int32

In [12]:
# Series의 데이터는 넘파이이므로 수식을 바로 적용할 수 있다!!!
s/10000

서울    990.4312
부산    344.8737
인천    289.0451
대구    246.6052
dtype: float64

In [25]:
for key, value in s2.items():
    print(key, value)

부산 3393191
서울 9631482
인천 2632035
대전 1490158

In [29]:
ds = s-s2  #대구와 대전은 인덱스값이 없는 시리즈도 있으므로 Not a number가 나옴
ds

대구         NaN
대전         NaN
부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64

### 속성과 메소드

In [31]:
s.values #넘파이 array값이 기본 값으로 저장

array([9904312, 3448737, 2890451, 2466052], dtype=int64)

In [32]:
s.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [37]:
s.name = '도시'  #series의 이름 값
s

서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 도시, dtype: int64

In [39]:
np.random.seed(2021)
dice = pd.Series(np.random.randint(1,7,100))

100

In [41]:
# element의 개수
dice.count()

100

In [42]:
# 고유한 값
dice.unique()

array([5, 6, 2, 1, 4, 3])

In [43]:
# 고유한 값의 종류
dice.nunique()

6

In [56]:
# 고유한 값별로 개수
dice.value_counts().sort_index()

1     8
2    21
3    19
4    18
5    13
6    21
dtype: int64

In [49]:
s.sum

<bound method NDFrame._add_numeric_operations.<locals>.sum of 서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 도시, dtype: int64>

In [51]:
s.min(), s.mean(), s.max()

(2466052, 4677388.0, 9904312)

In [54]:
s.describe() #요약 통계자료

count    4.000000e+00
mean     4.677388e+06
std      3.507776e+06
min      2.466052e+06
25%      2.784351e+06
50%      3.169594e+06
75%      5.062631e+06
max      9.904312e+06
Name: 도시, dtype: float64

In [59]:
s.sort_values()[::-1] #내림차순 정열
s.sort_values(ascending=False) #두개 같은 효과

서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 도시, dtype: int64

In [60]:
s.sort_index()

대구    2466052
부산    3448737
서울    9904312
인천    2890451
Name: 도시, dtype: int64

- 결측치 처리(none nan, null)

In [62]:
ds

대구         NaN
대전         NaN
부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64

In [63]:
ds.isna()

대구     True
대전     True
부산    False
서울    False
인천    False
dtype: bool

In [64]:
# value_count() method로는 결측치가 있는지 확인 불가
ds.value_counts()

272830.0    1
55546.0     1
258416.0    1
dtype: int64

In [67]:
ds.isna().sum() # 전체 데이터에 결측치가 몇개인지 알아내는 방법

2

In [70]:
ds.isnull().sum() #isna()와 같다

2

In [71]:
# 결측치는 중앙, 최빈, 평균값으로 대체 하거나 삭제할 수 있다

In [74]:
ds.fillna(ds.mean()) #결측치 값을 fillna로 평균값으로 채움!!!!!!!!!!

대구    195597.333333
대전    195597.333333
부산     55546.000000
서울    272830.000000
인천    258416.000000
dtype: float64

In [76]:
ds

대구         NaN
대전         NaN
부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64

In [79]:
ds.fillna(0).astype(int)  ##type을 변경할때 astype()을 쓴다!

대구         0
대전         0
부산     55546
서울    272830
인천    258416
dtype: int32

In [80]:
#결측치 제거
ds.dropna()

부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64

In [83]:
ds_median=ds.fillna(ds.median()).astype(int)
ds_median

대구    258416
대전    258416
부산     55546
서울    272830
인천    258416
dtype: int32

In [86]:
ds.dropna(inplace=True)  #시리즈 자기자신을 바꿀때 inplace를 쓴다!
ds

부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64