Pandas 파일 입출력

In [1]:
import numpy as np
import pandas as pd

In [2]:
# read_csv, to_csv는 많이 사용 암기

df = pd.read_csv('sample1.csv')
df

   c1    c2     c3
0   1  1.11    one
1   2  2.22    two
2   3  3.33  three

In [3]:
df.to_csv('sample2.csv')

In [4]:
pd.read_csv('sample2.csv')

   Unnamed: 0  c1    c2     c3
0           0   1  1.11    one
1           1   2  2.22    two
2           2   3  3.33  three

In [5]:
# 행인덱스값이 자동으로 들어가므로 false값을 줄 것
df.to_csv('sample3.csv', index=False)   #또는  index=Null

In [6]:
pd.read_csv('sample3.csv')

   c1    c2     c3
0   1  1.11    one
1   2  2.22    two
2   3  3.33  three

In [7]:
df = pd.read_csv('sample4.csv', sep='\t', skiprows=1)
df

  국어    영어    수학
0    80  90  100
1    70  90  100
2     60  80  50

In [8]:
# encoding, skiprow=, sep로 다른 형식의 파일을 열 수 있다
df = pd.read_csv('sample5(EUC-KR).csv', sep='\t', skiprows=1, encoding='EUC-KR')
df

  국어    영어    수학
0    80  90  100
1    70  90  100
2     60  80  50

In [9]:
df = pd.read_csv('서울시CCTV설치운영현황(자치구)_년도별_210731기준.csv', skiprows=1, encoding='EUC-KR')
df

UnicodeDecodeError: 'euc_kr' codec can't decode byte 0xb8 in position 679: illegal multibyte sequence