# Pandas 데이터 조작

In [1]:
import numpy as np
import pandas as pd

In [4]:
df=pd.DataFrame(np.random.randint(40,101,20).reshape(4,5), columns=list('ABCDE'), index=list('wert'))
df

    A   B   C   D   E
w  41  67  62  54  74
e  45  78  81  70  61
r  64  86  98  56  95
t  45  51  79  57  78

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, w to t
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       4 non-null      int32
 1   B       4 non-null      int32
 2   C       4 non-null      int32
 3   D       4 non-null      int32
 4   E       4 non-null      int32
dtypes: int32(5)
memory usage: 112.0+ bytes

In [6]:
df.describe()

               A          B          C          D          E
count   4.000000   4.000000   4.000000   4.000000   4.000000
mean   48.750000  70.500000  80.000000  59.250000  77.000000
std    10.340052  15.154757  14.719601   7.274384  14.023789
min    41.000000  51.000000  62.000000  54.000000  61.000000
25%    44.000000  63.000000  74.750000  55.500000  70.750000
50%    45.000000  72.500000  80.000000  56.500000  76.000000
75%    49.750000  80.000000  85.250000  60.250000  82.250000
max    64.000000  86.000000  98.000000  70.000000  95.000000