연습 문제 4.1.1

(1) 임의로 두 개의 시리즈 객체를 만든다. 모두 문자열 인덱스를 가져야 하며 두 시리즈에 공통적으로 포함되지 않는 라벨이 있어야 한다.

(2) 위에서 만든 두 시리즈 객체를 이용하여 사칙 연산을 한다.

In [129]:
import pandas as pd

s = pd.Series({'국어':80,'영어':70,'수학':95})
f = pd.Series({'사회':70,'과학':50,'수학':20})
s+f

과학      NaN
국어      NaN
사회      NaN
수학    115.0
영어      NaN
dtype: float64

연습 문제 4.1.2

다음 조건을 만족하는 임의의 데이터프레임을 하나 만든다.

(1) 열의 갯수와 행의 갯수가 각각 5개 이상이어야 한다.

(2) 열에는 정수, 문자열, 실수 자료형 데이터가 각각 1개 이상씩 포함되어 있어야 한다.

In [130]:
import numpy as np
index = ['색깔','년식','스피드','내구도','사고횟수']
np.random.seed(2021)
df = pd.DataFrame(np.random.randint(1,100,25).reshape(5,5),
                    columns=['bmw','benz','ford','citroen','honda'],index=index)

df.loc['이자율']=[0.01,0.02,0.03,0.04,0.01]
df.loc['구매희망']=['1순위','2순위','3순위','4순위','5순위']
df

       bmw  benz  ford citroen honda
색깔    86.0  58.0   1.0    95.0  87.0
년식    45.0  63.0  92.0    30.0  22.0
스피드   94.0  25.0  13.0    71.0  71.0
내구도   34.0   8.0   2.0    98.0  27.0
사고횟수  67.0  49.0  64.0    50.0  17.0
이자율   0.01  0.02  0.03    0.04  0.01
구매희망   1순위   2순위   3순위     4순위   5순위

연습 문제 4.1.3

다음 데이터프레임에서 지정하는 데이터를 뽑아내거나 처리하라.

data = {
    "국어": [80, 90, 70, 30],
    "영어": [90, 70, 60, 40],
    "수학": [90, 60, 80, 70],
}
columns = ["국어", "영어", "수학"]
index = ["춘향", "몽룡", "향단", "방자"]
df = pd.DataFrame(data, index=index, columns=columns)
(1) 모든 학생의 수학 점수를 시리즈로 나타낸다.

(2) 모든 학생의 국어와 영어 점수를 데이터 프레임으로 나타낸다.

(3) 모든 학생의 각 과목 평균 점수를 새로운 열로 추가한다.

(4) 방자의 영어 점수를 80점으로 수정하고 평균 점수도 다시 계산한다.

(5) 춘향의 점수를 데이터프레임으로 나타낸다.

(6) 향단의 점수를 시리즈로 나타낸다.

In [131]:
data = {
    "국어": [80, 90, 70, 30],
    "영어": [90, 70, 60, 40],
    "수학": [90, 60, 80, 70],
}
columns = ["국어", "영어", "수학"]
index = ["춘향", "몽룡", "향단", "방자"]
df = pd.DataFrame(data, index=index, columns=columns)
df['수학']
type(df['수학'])

pandas.core.series.Series

In [132]:
df[['국어']]
type(df[['국어']])

pandas.core.frame.DataFrame

In [133]:
df[['영어']]
type(df[['영어']])

pandas.core.frame.DataFrame

In [134]:
df.loc['평균'] = df.mean()
df['평균'] = df.mean(axis=1)
df

      국어    영어    수학         평균
춘향  80.0  90.0  90.0  86.666667
몽룡  90.0  70.0  60.0  73.333333
향단  70.0  60.0  80.0  70.000000
방자  30.0  40.0  70.0  46.666667
평균  67.5  65.0  75.0  69.166667

In [135]:
df['영어']['방자'] = 80
df.loc['평균'] = df.mean()
df['평균'] = df.mean(axis=1)
df

      국어    영어    수학         평균
춘향  80.0  90.0  90.0  86.666667
몽룡  90.0  70.0  60.0  73.333333
향단  70.0  60.0  80.0  70.000000
방자  30.0  80.0  70.0  56.666667
평균  67.5  73.0  75.0  71.166667

SyntaxError: invalid syntax (<ipython-input-139-f60e32a8d7cc>, line 1)

연습 문제 4.3.1

모든 행과 열에 라벨을 가지는 5 x 5 이상의 크기를 가지는 데이터프레임을 만든다.

10가지 이상의 방법으로 특정한 행과 열을 선택한다.

In [ ]:
columns = ['1','2','3','4','5']
index = ['0','9','8','7','6']
df=pd.DataFrame(np.random.randint(1,100,25).reshape(5,5), columns=columns, index=index)
df

    1   2   3   4   5
0  70  33  82  68  39
9  13  76  72  69  66
8  80  74  31  39   7
7  46  75  69  92  70
6  35  67  33  88  21